* {
    margin: 0;
    padding: 0;
    font-family: Didot, serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#bg {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    height:100%;
}

#title {
    position: sticky; 
    text-align: center;
    font-weight: 100;
    color: white;
    text-shadow: #373030 5px 5px 15px;
}

#title > h1 {
    font-size: 30px;
}

#title > h2 {
    font-size: 25px;
}

#title > h3 {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
}

canvas {
    background-color: beige;
    border: 1px solid black;
  }

  /* ----------------------------------------------------------------------------------------- */

  /* Pop-up message between levels */

  .popUp {
    position: absolute;
    top: 45vh;
    right: 36vw;
    width: 400px;
    height: 200px;
    background-image: url(../assets/images/backgrounds/frame.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px 200px;
    text-align: center;
    display: block;
    color: white;

    animation-name: textBox-fadeIn;
    animation-duration: 2s;
  }

  .level {
    padding-top: 35px;
    padding-bottom: 20px;
  }

  .popUpText {
    font-family: Monogram;
    font-size: 25px
  }

  .popUpStart {
    font-family: Monogram;
    font-size: 25px;
  }

  /* ----------------------------------------------------------------------------------------- */

  /* Animations */

  @keyframes textBox-fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  /* ----------------------------------------------------------------------------------------- */

  /* Final level */

  #tanyaJump {
    position: absolute;
    top: 42vh;
    right: 33vw;
    width: 500px;
    height: 250px;
    background-image: url(../assets/images/backgrounds/frame.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 250px;
    display: block;
    color: white;
    text-align: center;
    animation-name: textBox-fadeIn;
    animation-duration: 2s;
  }

  #tanyaJump > h2 {
    margin-top: 47px;
    font-size: 25px;
  }

  #tanyaJump > span {
    margin-top: 50px;
    font-size: 15px;
    font-family: Monogram;
    font-size: 22px;
  }

  .jumpButton {
    margin-top: 15px;
    padding: 7px;
    background-color: #4b3623;
    border: 1px solid #4b3623;
    color: white;
    font-family: Monogram;
    font-size: 25px;
  }

  .jumpButton:hover {
    background-color: beige;
    color: black;
  }

  video {
    pointer-events: none;
  }